outputs:
- sum_charge
- nnls_solution
- bl_mean
- bl_std
processors:
  bl_mean , bl_std, bl_slope, bl_intercept:
    description: finds mean and rms of waveform initial samples
    function: linear_slope_fit
    module: dspeed.processors
    args:
    - 'waveform[0: 5]'
    - bl_mean
    - bl_std
    - bl_slope
    - bl_intercept
    unit:
    - ADC
    - ADC
    - ADC
    - ADC
  wf_blsub:
    description: subract baseline from waveform
    function: subtract
    module: numpy
    args:
    - waveform
    - bl_mean
    - wf_blsub
    unit: ADC
  nnls_solution:
    description: Find the NNLS solution vector
    function: optimize_nnls
    module: dspeed.processors
    args:
    - db.gumbel.matrix
    - wf_blsub
    - '2000'
    - 1e-6
    - 'False'
    - 0
    - nnls_solution(db.gumbel.solution_vector_length, period=db.gumbel.solution_vector_resolution_in_ns*ns)
    unit: ADC
  sum_charge:
    function: nansum
    module: numpy
    args:
    - wf_blsub
    - 1
    - null
    - sum_charge
    kwargs:
      signature: "(n),(),()->()"
      types:
      - fif->f
    unit: ADC
